.diagram {
  margin-left: 120px;
}

.diagram-block {
  display: flex;
  width: 550px;
  height: 550px;
}

.quantity {
  display: flex;
  height: 550px;
  width: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  border-right: 1px solid black;
  padding-right: 5px;
}

.diagram-space {
  display: flex;
  width: 500px;
  height: 550px;
  border-bottom: 1px solid black;
  align-items: end;
}

.percentage {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin-left: 50px;
}
.block {
    width: 40px;
    padding-left: 20px;
    margin-top: 5px;
}
